@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
.top-brands{
padding-top: 30px;
}
.top-brands-cover{
    height: 150px;
    width: 150px;
    border-radius: 10%;
    background-color: white;
     box-shadow: rgb(0,0,0 / 8%)0px,3px,12px;
     border: 0.5px solid white;
}
.top-brand-img{
    border-radius: 50%;
    height: 50%;
    width: 100%;
    object-fit: cover;
    width: 50%;
    padding: 40px 0px;
 
}

  
  .collection-title {
    text-align: left;
    margin-left: 45px;
  }
  


  .collectop{
    font-size: 30px;
    color: #1c1c1c;
    font-weight: 600;
    margin-bottom: 32px;
    margin-left: 20px;
  }
  /* Add any additional styling for the slider, brand cover, and brand image */
 