.deliverycollection{

    background-color: #f8f8f8;
    width: 100%;
    padding: 23px 149px 51px  141px;
}
.collec{
    font-size: 30px;
    color: #1c1c1c;
    font-weight: 600;
    margin-bottom: 32px;
    margin-left: 20px;
}
.image-thumbnail {
    width: 100px; 
  height: 100px;
  border-radius: 50%;


}