.filter-item{
    padding: 8px;
    display: flex;
    color: #9c9c9c;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin: 10px 10px 10px 0px ;
    font-size: 18px;
}
.filter-name{
    margin-left: 5px;
    
}